<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Childcare</title>
    <link rel="stylesheet" href="index_style.css">
</head>

<body>

    <main>
        <section class="header_section">
            <div class="title_container">
                <h1 id="title">Childcare</h1>
            </div>

            <div class="header_button_container">
                <button>Home</button>
                <button>About Us</button>
                <button>Blog</button>
                <button>Registration</button>
                <button>Contact</button>
            </div>

            <div class="login_button_container">
                <button id="login_button">Log In</button>
                <button id="portal_button" style="display: none;">Go to Portal</button>
            </div>
        </section>

        <section class="home_section">
            <div class="home_content_container">
                <h2>Play, Learn & Grow Together</h2>
                <p>We will prepare your child for the next stage in their lives through development of both motor and mental abilities, social and healthy interactions with their peers. Keep reading to learn more!</p>
                <div class="home_content_button_container">
                    <button>Contact Us</button>
                </div>
            </div>

            <div class="home_image_container">

            </div>
        </section>

        <section class="info_section">
            <div>
                <img class="logo" src="path_to_image" alt="Quality Care Logo">
                <h3>Quality Care</h3>
                <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
                <button class="read_more_btn">Read More</button>
                <div class="read_more_container">
                    <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
                </div>
            </div>
        
            <div>
                <img class="logo" src="path_to_image" alt="Great Teachers Logo">
                <h3>Great Teachers</h3>
                <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
                <button class="read_more_btn">Read More</button>
                <div class="read_more_container">
                    <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
                </div>
            </div>
        
            <div>
                <img class="logo" src="path_to_image" alt="Excellent Curriculum Logo">
                <h3>Excellent Curriculum</h3>
                <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
                <button class="read_more_btn">Read More</button>
                <div class="read_more_container">
                    <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
                </div>
            </div>
        
            <div>
                <img class="logo" src="path_to_image" alt="Balanced Diet Logo">
                <h3>Balanced Diet</h3>
                <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
                <button class="read_more_btn">Read More</button>
                <div class="read_more_container">
                    <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
                </div>
            </div>
        </section>

        <section class="about_us_section">
            <div class="about_us_container">
                <h1>About Us</h1>
                <p>Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example, Paragraph example</p>
            </div>
        </section>

    </main>

    <script src="../assets/index_scrip.js" type="module"></script>

</body>
</html>
