<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Childcare</title>
    <link rel="stylesheet" href="login_style.css">
</head>

<body>

    <main>
        <section class="header_section">
            <div class="title_container">
                <h1 id="title">Childcare</h1>
            </div>

            <div class="back_button_container">
                <button id="back_button">Back to Homepage</button>
            </div>
        </section>

        <section class="login_section">
            <h2>Login</h2>
            <form id="login_form">
                <label for="email">E-Mail:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Log In" class="login_button">
            </form>
                         
        </section>

        <section class="register_section">
            <div class="register_button_container">
                <button id="register_button" class="register_button">Register</button>
            </div>
        </section>
    </main>

    <script src="../assets/login_script.js" type="module"></script>
</body>
</html>
